*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Spicy Rice';
    src: url(‘Spicy_Rice/SpicyRice-Regular.ttf′) format(‘ttf’);
    font-weight: bold;
    font-style: italic;
    }


.button{
    font-size: 24px;
    margin: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    border: 1px solid #f2f2f2;
}
.button2{
    font-size: 24px;
    margin: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    border: 1px solid #252525;
}

.buttom3{
    font-size: 24px;
    margin-left: 75%;
    margin-top: 5px;
}
#btnTheme{
    margin-bottom: 5px;
}
div{
    padding:0;
    margin: 0;
}
.res{
    text-align: right;
    height: 60px;
    border: none;
    font-size: 36px;
}
.res2{
    height: 40;
    font-size: 20px;
    text-align: right;
    border: none;
}
p{
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Spicy Rice', cursive;
}

@media screen and (max-width:300px){

    body{
        font-family: 'Spicy Rice', cursive;
    }

    .button{
        font-size: 16px;
        margin: 0;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        border: 1px solid #f2f2f2;
    }
    .button2{
        font-size: 16px;
        margin: 0;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        border: 1px solid #252525;
    }
    
    .buttom3{
        font-size: 16px;
        margin-left: 75%;
        margin-top: 5px;
    }
    #btnTheme{
        margin-bottom: 5px;
    }
    div{
        padding:0;
        margin: 0;
    }
    .res{
        text-align: right;
        height: 60px;
        border: none;
        font-size: 36px;
    }
    .res2{
        text-align: right;
        border: none;
        font-size: 16px;
    }
    p{
        margin-top: 5px;
        font-size: 16px;
    }
}